@charest "utf-8";/*유식하게 폰트 스키마라 한다*/
@font-face {
    font-family: 'Adabe';
    src: local("Adabe"), url('./font/Adabe.eot?#iefix') format('embedded-opentype'),
    url('./font/Adabe.woff') format('woff'),
        url('./font/Adabe(포토샵이름).otf') format('opentype'), 
        url('./font/Adabe.ttf') format('truetype'),
        url('./font/Adabe.svg#Adahe') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Gifts';
    src: local("Gifts Icons"), url('./font/Gifts Icons.eot?#iefix')
    format('embedded-opentype'),
    url('./font/Gifts Icons.woff') format('woff')
        
}